@import "tailwindcss";

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@theme {
  --font-sans: "Inter", "sans-serif";
  --text-base--line-height: 1.2;
  --text-sm--line-height: 1.2;

  --color-neon-green: #A1ED0A;
  --color-pastel-green: #D9EAB7;

  --color-brand: var(--color-neon-green);
  --color-background: var(--color-pastel-green);
}

@utility ring-stacking {
  @apply [box-shadow:0_0_0_1px_black,inset_0_0_0_1px_black];
}

@layer components {

  .markdown {
    @apply font-semibold;

    h2, h3 {
      @apply text-xl leading-[1.2] md:text-[2rem] md:leading-[1.125];
    }
  }
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Hide the default triangle in WebKit browsers */
details summary::-webkit-details-marker {
  display: none;
}

/* Hide the default triangle in Firefox */
details summary {
  list-style: none;
}
