---
import Layout from '../layouts/Layout.astro';
import Blocks from '../components/Blocks.astro';

import homeData from "../content/home.json";

const {sections} = homeData;
---

<Layout>
  <main class="mx-auto"></main>
</Layout>
