---
import "../styles/global.css";

// const title = ;
const title = "localhost:2025";
const description = "";
const lang = "en";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body
    class="scroll-pt-32 bg-background text-base font-semibold md:text-xl md:leading-[1.2]"
    style="scroll-padding-top: 20px;" 
  >
    <slot />
  </body>
</html>
